body
{
	padding-top: 43px;
}

body > header
{
	position: fixed;
	top: 0;
	width: 100%;
	line-height: 1.5;
	text-align: left;
	background: black;
	color: white;
	z-index: 1;
}

body > header .item-link
{
	width: auto;
	height: inherit;
	color: white;
	cursor: pointer;
	user-select: none;
	background: black;
	text-decoration: none;
}

body > header .item-link.active
{
	text-decoration: underline #ccc;
}

body > header .item-link:hover
{
	color: black;
	background-color: #ccc;
}

body > header .list-root
{
	display: inline-block;
	position: relative;
	width: auto;
}

body > header .list-root .list-root:hover > ul
{
	display: inline-block;
}

body > header .list-root:hover > ul
{
	display: block;
}

body > header .list-root > ul
{
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body > header .list-root > ul .item-link
{
	width: 100%;
	background: #111;
}

body > header .list-root > ul .item-link:hover
{
	background-color: #ccc;
}

body > content
{
	display: block;
	position: relative;
	height: 100%;
}

body > content > object
{
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}