html
{
	height: 100%;
}

body
{
	box-sizing: border-box;
	height: 100%;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 10px 0;
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}

body .list .item, body .list .item-link
{
	display: inline-block;
	box-sizing: border-box;
	overflow: hidden;
	padding: 8px 16px;
	border: none;
	outline: none;
	white-space: normal;
	vertical-align: middle;
}

body > .sidebar
{
	box-sizing: border-box;
	position: absolute;
	display: block;
	width: 250px;
	height: 100%;
	padding: 0 10px;
	color: black;
	background-color: #f0f0f0;
}

body > .sidebar > .item
{
	width: 100%;
}

body > .sidebar > .item-link
{
	width: 100%;
	color: black;
	cursor: pointer;
	user-select: none;
	text-decoration: none;
}

body > .sidebar > .item-link:hover
{
	color: white;
	background: black;
}

body > .content
{
	box-sizing: border-box;
	overflow: auto;
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 250px;
}

body .text-content
{
	box-sizing: border-box;
	overflow: auto;
	padding: 0 10px;
}

pre code.hljs
{
	padding: 3px 5px !important;
	font-size: 14px;
}

code:not(.hljs)
{
	box-sizing: border-box;
	font-size: 16px;
	padding: 0 4px;
	border-radius: 4px;
	background: #f3f3f3;
}