<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/indexstyle.css">
		<link rel="stylesheet" href="/style.css">
		<script type="text/javascript">
			{
				var url = new URL(window.location);
				var p = url.searchParams.get("p");
				if(p != null) {
					url.pathname = p;
					url.searchParams.delete("p");
					window.location = url.toString();
				}
			}
		</script>
	</head>
	<body>
		<header class="list">
			{% for p in site.data.navpages %}
			<a class="item-link{% if p.link == page.url %} active{% endif %}"{% if p.nohref == null %} href="{{ p.link }}"{% endif %}>{{ p.title }}{% if p.submenu %}{% for s in p.items %}
				<a class="item-link{% if s.link == page.url %} active{% endif %}" href="{{ s.link }}">{{ s.title }}</a>
				{% endfor %}{% endif %}</a>
			{% endfor %}
		</header>
		{{ content }}
	</body>
</html>