---
layout: default
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<div class="sidebar list">
	<h4 class="item"><b>Menu</b></h4>
	{% for m in site.data.vintagestory.drafts.navmenu %}
	<a class="item-link" href="{{ m.link }}">{{ m.title }}</a>
	{% endfor %}
</div>
<div class="content">
	<div class="text-content">
		{{ content }}
	</div>
</div>
<script>
	if(typeof hljs != "undefined") {
		hljs.addPlugin({
			"before:highlight": function(info)
			{
				info.code = info.code.trim().replaceAll("\t", "    ");
			}
		});
		hljs.highlightAll();
	}
</script>